@use "./pages/home";
@use "./pages/skills";
@use "./pages/projects";
@use "./pages/contact";
body {
  background-color: #010018;
  opacity: 0.98;
  margin: 0;
  font-family: "Outfit", sans-serif;
}
main {
  padding-top: 167px;
  margin-bottom: 20vh;
}
/* footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
 */
